{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block main %}
<script>
  let code = {{code|safe}}
  window.onload = function(){
    if(code === 1){
      document.querySelector('#alert').style ='visibility:visible'
    }
  }
</script>
<!--Password reset page-->
<div id="register" class="text-center">
    <div class="form-signin w-100 m-auto">
      <form action="/password_reset.html" method="post">
        <h1 class="h3 mb-3 fs-1 fw-normal">Reset your password</h1>
        <div id="alert" class="alert alert-danger" style="visibility: hidden;" role="alert">
          {{alert}}
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="top-registr" placeholder="New password">
          <label for="email">New password</label>
        </div>
        <div class="form-floating mb-4">
          <input type="password" id="bot-registr" class="form-control" name="confirmation" placeholder="Confirmation">
          <label for="confirmation">Password confirmation</label>
        </div>
        <button class="w-100 fs-2 btn btn-lg btn-primary" type="submit">Reset</button>
      </form>
      <div class="alert">{{alert}} </div>
    </div>
  </div>
{% endblock %}